.jumbotron {
    background: url("../assets/space-bkgd.jpg") #000 center;
    border-radius: 0;
}

.jumbotron h1 {
    color:#000;
    font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: yellow;
}

.card-header {
    background-color: lightslategray;
}

h2.card-title {
    font-size: 1.75rem;
}

h3.card-title {
    font-size: 1.5rem;
}

.list-group-item {
    font-size: 0.9375rem;
}

@media (max-width: 768px) {
    .card-deck {
        flex-flow: column;
    }
}